doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle} | #{siteName}
        <script src="https://kit.fontawesome.com/a0049c89ed.js" crossorigin="anonymous"></script>
        link(rel="stylesheet", href="/static/styles.css")
    body
        include ../partials/header
        block content
        script(src="/static/main.js")