extends layouts/main

block content
    .login__container
        form.login__form(action=routes.login, method="post")
            input(type="text", name="email", placeholder="Email")
            input(type="password", name="password", placeholder="Password")
            input.login__submit(type="submit", value="Login")