extends layouts/main

block content
    .write__container
        form.write__form(action=`/community${routes.write}`, method="post")
            input(type="text", name="title", placeholder="Title")
            textarea(name="content")
            input.write__submit(type="submit", value="Write Success")