.board__main {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board__main .board__grid {
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board__grid .board__grid-box {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  border: 2px solid #686de0;
}

.board__grid-box .board__grid-nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 8fr 2fr 3fr 1fr;
  grid-auto-flow: column;
}

.nav__item span {
  color: #e67e22;
  font-weight: bold;
}

.board__grid-nav div:not(:last-child) {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.board__grid-nav div:last-child {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.board__link-box .board__link-list {
  width: 100%;
  display: flex;
  justify-content: center;
  a:visited {
    color: black;
  }
}

.board__grid .board__link-box {
  margin-top: 10px;
  width: 80%;
  text-align: end;
  .board__pageNumber {
    margin-right: 30px;
    display: flex;
    font-size: 18px;
    text-align: center;
    li {
      list-style: none;
      &:hover {
        color: gray;
      }
    }
  }
}

.board__link .write__button {
  padding: 1% 2%;
  width: max-content;
  font-weight: bold;
  color: white;
  outline: none;
  border: 2px solid #6c5ce7;
  border-radius: 10px;
  background-color: #74b9ff;
  &:hover {
    color: #0984e3;
  }
}
